<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>小星星</string>
		<key>melody</key>
		<array>
			<string>C2_4</string>
			<string>C2_4</string>
			<string>G2_4</string>
			<string>G2_4</string>
			<string>A2_4</string>
			<string>A2_4</string>
			<string>G2_2</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>小蜜蜂</string>
		<key>melody</key>
		<array>
			<string>G2_4</string>
			<string>E2_4</string>
			<string>E2_2</string>
			<string>F2_4</string>
			<string>D2_4</string>
			<string>D2_2</string>
			<string>C2_4</string>
			<string>D2_4</string>
			<string>E2_4</string>
			<string>F2_4</string>
			<string>G2_4</string>
			<string>G2_4</string>
			<string>G2_2</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>我有一隻小毛驢</string>
		<key>melody</key>
		<array>
			<string>C2_4</string>
			<string>C2_4</string>
			<string>C2_4</string>
			<string>E2_4</string>
			<string>G2_4</string>
			<string>G2_4</string>
			<string>G2_4</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>哥哥爸爸真偉大</string>
		<key>melody</key>
		<array>
			<string>C3_4</string>
			<string>C3_4</string>
			<string>G2_4</string>
			<string>G2_4</string>
			<string>A2_4</string>
			<string>A2_4</string>
			<string>G2_2</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>天黑黑</string>
		<key>melody</key>
		<array>
			<string>E3_4</string>
			<string>D3_4</string>
			<string>E3_2</string>
			<string>E3_4</string>
			<string>A2_4</string>
			<string>C3_2</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>造飛機</string>
		<key>melody</key>
		<array>
			<string>G2_4</string>
			<string>E2_8</string>
			<string>F2_8</string>
			<string>G2_4</string>
			<string>E2_8</string>
			<string>F2_8</string>
			<string>G2_8</string>
			<string>G2_8</string>
			<string>A2_8</string>
			<string>A2_8</string>
			<string>G2_8</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>瑪麗有隻小綿羊</string>
		<key>melody</key>
		<array>
			<string>E2_4</string>
			<string>D2_4</string>
			<string>C2_4</string>
			<string>D2_4</string>
			<string>E2_4</string>
			<string>E2_4</string>
			<string>E2_2</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>捉泥鰍</string>
		<key>melody</key>
		<array>
			<string>A2_4</string>
			<string>A2_4</string>
			<string>G2_4</string>
			<string>A2_4</string>
			<string>G2_4</string>
			<string>E2_4</string>
		</array>
	</dict>
</array>
</plist>
